<!DOCTYPE html>
<html>

<head>
	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/stylesheet.css">
	<meta name="viewport" content="width=device-width, initial scale=1">
</head>

<body>
	<div id="logo"><a id="tag" href="index.html"><img id="pss" src="../public/images/logo.png"></a></div>
	<div id="title"><a id="tag" href="index.html"><h1>park slope singers</h1></a></div>
	<nav>	
		<a href="About.html">About</a> |
		<a href="Concerts.html">Concerts & Events</a> |
		<a href="Multimedia.html">Multimedia</a> |
		<a href="Support.html">Support</a> |
		<a href="Join.html">Contact</a>
	</nav>
	<hr id="line1">
	<hr id="line2">
	<div>
		<img id="singers" src="../public/images/singers.jpg">
	</div>
	<footer>
		<a id="link" href="https://twitter.com/ParkSlopeSinger"><img src="../public/images/twitter.png"></a>
		<a id="link" href="https://www.facebook.com/groups/129128933777344/"><img src="../public/images/facebook.png"></a>
		<a id="link" href="https://www.youtube.com/watch?v=uAErftjoa8Q"><img src="../public/images/youtube.png"></a>
		<p id="copy">park slope singers &copy; 2014</p>
	</footer>
</body>


</html>