<!DOCTYPE html>
<html>

<head>
	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/stylesheet.css">
	<meta name="viewport" content="width=device-width, initial scale=1">
</head>

<body>
	<div id="logo"><a id="tag" href="index.html"><img id="pss" src="../public/images/logo.png"></a></div>
	<div id="title"><a id="tag" href="index.html"><h1>park slope singers</h1></a></div>
	<nav>	
		<a href="About.html">About</a> |
		<a href="Concerts.html">Concerts & Events</a> |
		<a href="Multimedia.html">Multimedia</a> |
		<a href="Support.html">Support</a> |
		<a href="Join.html">Contact</a>
	</nav>
	<hr id="line1">
	<hr id="line2">
	<div class="Background">
		<div class="About">
			
			<h2>Become a Member</h2>
			<hr id="line1">
			<hr id="line2">	
			<p>Park Slope Singers is always looking for enthusiastic singers! We accept new members at the beginning of every semester.</br> 
			</br>Regular rehearsals are on Monday evenings, and take place at the parish hall of St. Saviour's Church in Park Slope, Brooklyn. They begin promptly at 7:30 p.m. and last until about 10:00 p.m. Halfway through each rehearsal, we break for announcements and refreshments provided by the members.</br>
			</br>Additionally, there are two Saturday afternoon rehearsals a semester. As with most choruses, dress rehearsals are held in the venue where the concert is being given, and attendance at the dress rehearsal is mandatory in order to perform in the concert.</br>
			</br>Members will please observe the dress code for our concerts.</br>
			</br>If you think you might be interested in joining the Park Slope Singers, or if you simply want more information, please contact our president, Frank Bolton. The easiest way to do this is to send an email using the form below.</br>
			</br><em>Please note: we never share email addresses or telephone numbers with any other organizations.</em></p>

			<form action="http://208.112.120.170/pss/pssemail2.cfm"  method="GET">
			<input type="hidden"  name="msg1"  value="Your message has been sent.">
			<center>
			<table border="0" cellpadding="10" class="form">
				<tr>
  				<td id="column_2">Your Name:</td>
					<td><input class="input" type="text" name="name"></td>
				</tr>
				<tr>
  					<td>Your Email Address:</td>
  					<td><input class="input" type="text" name="email"></td>
				</tr>
				<tr>
  					<td>Your Phone Number:</td>
  					<td> <input class="input" type="text" name="phone"></td>
				</tr>
				<tr>
  					<td>Your Comments:</td>
  					<td><textarea  class="input" name="comments" rows="6"></textarea></td>
				</tr>
			</table></br></br>
			<input id="submit" type="submit"  value = "Send Request">
			</center>
			</form>
			
		</div>
	</div>
	<footer>
		<a id="link" href="https://twitter.com/ParkSlopeSinger"><img src="../public/images/twitter.png"></a>
		<a id="link" href="https://www.facebook.com/groups/129128933777344/"><img src="../public/images/facebook.png"></a>
		<a id="link" href="https://www.youtube.com/watch?v=uAErftjoa8Q"><img src="../public/images/youtube.png"></a>
		<p id="copy">park slope singers &copy; 2014</p>
	</footer>
</body>


</html>