<!DOCTYPE html>
<html>

<head>
	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/stylesheet.css">
</head>

<body>
	<div id="logo"><a id="tag" href="index.html"><img id="pss" src="../public/images/logo.png"></a></div>
	<div id="title"><a id="tag" href="index.html"><h1>park slope singers</h1></a></div>
	<nav>	
		<a href="About.html">About</a> |
		<a href="Concerts.html">Concerts & Events</a> |
		<a href="Multimedia.html">Multimedia</a> |
		<a href="Support.html">Support</a> |
		<a href="Join.html">Contact</a>
	</nav>
	<hr id="line1">
	<hr id="line2">
	<div class="Background">
		<div class="About">
		<h2>PSS in Performance</h2>
		<hr id="line1">
		<hr id="line2">
			<h3>Wolfgang Amadeus Mozart, <em>Ave Verum</em></h3>
				<h4>June 2014</h4>
				<video width="100%" controls frameborder="0" allowfullscreen> <source src="../public/images/AveVerum.mp4" type="video/mp4"></video></br>
			<h3>Joseph Haydn, <em>Lord Nelson Mass: I. Kyrie</em></h3>
				<h4>June 2014</h4>
				<video width="100%" controls frameborder="0" allowfullscreen> <source src="../public/images/Kyrie.mp4" type="video/mp4"></video>
		<h2>PSS Audio</h2>
		<hr id="line1">
		<hr id="line2">
			<p>
				Jun 2012: <a href="http://www.parkslopesingers.org/audio/11-12spring/12XThanksBeToGod.mp3"><em>Thanks Be To God</em> (Mendelssohn, <em>Elijah Part I</em> )</a></br></br>
				Jan 2010: <a href="http://www.parkslopesingers.org/audio/09-10fall/buked.mp3"><em>I've Been 'Buked</em></a></br></br>
				Jan 2010: <a href="http://www.parkslopesingers.org/audio/09-10fall/shenandoah.mp3"><em>Shenandoah</em></a></br></br>
				Jan 2010: <a href="http://www.parkslopesingers.org/audio/09-10fall/shirshomrim.mp3"><em>Shir Shomrim</em> (Soloist: Ira Spaulding)</a></br></br>
				Jan 2010: <a href="http://www.parkslopesingers.org/audio/09-10fall/everybird.mp3"><em>Every Bird That Soars The Sky</em> (Brahams, <em>Liebeslieder Waltzer #13</em> )</a></br></br>
				Jan 2009: <a href="http://www.parkslopesingers.org/audio/08-09fall/riverside.mp3"><em>Down By The Riverside</em></a></br></br>
				Jan 2009: <a href="http://www.parkslopesingers.org/audio/08-09fall/shiningnight.mp3"><em>Shure On This Shining Night</em></a></br></br>
			</p>
		</div>
	</div>
	<footer>
		<a id="link" href="https://twitter.com/ParkSlopeSinger"><img src="../public/images/twitter.png"></a>
		<a id="link" href="https://www.facebook.com/groups/129128933777344/"><img src="../public/images/facebook.png"></a>
		<a id="link" href="https://www.youtube.com/watch?v=uAErftjoa8Q"><img src="../public/images/youtube.png"></a>
		<p id="copy">park slope singers &copy; 2014</p>
	</footer>
</body>


</html>